
:root {
  --borde: #EDEEED;
  --fondo_seccion1: #F2F2F2;
  --fondo_seccion2: #FEFFFE;
  --color_boton_gris: #737373;

}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--fondo_seccion2);
  Color: #606060;
}



h1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

button {
  font-size: 11px;
}

p {
  padding: 10px;
}

link {
  font-size: 11px;
  color: #C95555;
}

.bold {
  font-weight: bold;
}

.index-seccion-1{
  background-color: var(--fondo_seccion1);
  height: 300px;
  width: auto;

}

#index-parrafo2 {
  margin-top: -30px;
}

.index-seccion-1__input{
  background-image: url("images/lupa.png");
  background-size: 16px;
  background-position: left;
  margin-top: 40px;
  margin-left: 500px;
  width: 300px;
  height: 30px;
}
.index-seccion-1__boton{
  width: 100px;
  height: 36px;
  background-color: var(--color_boton_gris);
  color: white;
}

.index-seccion-1__linea{
  width: 80px;
  height: 0px;
}

.index-seccion-1__titulo{
  padding-top: 100px;
}


.index-seccion-2__imagen {
  width: 100px; height: 150px;

}

.index-seccion-2{
  width: auto;
  height: 400px;
  border-top: var(--borde) 3px solid;
  text-align: center;
  border-bottom:var(--borde) 3px solid;

}
.index-seccion-2__figure{
  position: relative;
  left: 500px;
  right: 200px;
  float: left;
  width: 90px;
  height: 90px;


}

.index-seccion-3{
   text-align: center;
   height: 520px;
   width: auto;

}

.index-seccion-3__figure{
  float: left;
  margin-left: 100px;

}

.descripcion{
  margin-top: 10px;
}


.index-seccion-3__imagen {
  width: 350px; height: 250px;
}

.index-seccion-3__figure a{
  text-decoration: none;
}

.link {
  color: var(--color_boton_gris);
}



.login-seccion-2{
  text-align: center;
  height: 350px;
  width: auto;
  background-color: var(--fondo_seccion2);
  border-top:var(--borde) 3px solid;

  }

.seccion-2-login__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  margin-top: 10px;

}

.seccion-2-login__boton {
  color: white;
  height: 30px;
  border: 0px;
}

#boton-ingresar {
  color: white;
  background-color: #606060;
  border: 0px;
}

#boton-cancelar {
  color: #606060;
  background-color: #EBEBEB;
  border: 0px;
}





.nav-menu{
  background-color: var(--fondo_seccion2);
  height: 80px;
}



.login-seccion-1__linea{
  width: 220px;
  margin-top: 20px;
}

.login-seccion-2__linea{
  width: 350px;
  margin-top: 100px;
}

.linea2-login{
  width: 350px;
  margin-top: 100px;
}

.login-seccion-1{
  background-color: var(--fondo_seccion1);
  height: 145px;
  border-top:var(--borde) 3px solid;

}





#registro-input-nombre {

  margin-right: 2px;
  margin-left: 580px;
  margin-top: 45px;

}
#registro-input-apellido {
  float: right;
  margin-left: 1px;
  margin-right: 580px;
  margin-top: 45px;
}

.seccion-2-login__input-vertical {
  margin-top: 40px;
  margin-bottom: -25px;
  width: 370px;
 }





 .nav-registro{
  height: 60px;
  background-color: var(--fondo_seccion2);
}

.seccion-2-registro {
  display: inline;
}

.seccion-2-registro-form-horizontal {
  display: inline;
  margin-bottom: 5px;
}

#registro-input-nombre {
  margin-right: 2px;
  margin-left: 580px;
  margin-top: 45px;

}
#registro-input-apellido {
  float: right;
  margin-left: 1px;
  margin-right: 580px;
  margin-top: 45px;
}



.seccion-2-registro-form-vertical {
  display: grid;
  margin-left: 580px;
}

.seccion-2-login__input-vertical {
 margin-top: 40px;
 margin-bottom: -25px;
 width: 370px;
}

#pais {
  margin-left: 580px;
  margin-top: 50px;
  width: 180px;
}

#registro-input-correo {
  margin-right: 1px;
  margin-left: 580px;
  margin-top: 25px;
  width: 180px;
}

#registro-input-city {
width: 185px;
}

 #registro-input-contrasena {
   margin-top: 15px;
   width: 185px;
 }

#registro-linea {
  margin-top: 20px;
}

#registro-boton-registrarse, #registro-boton-cancelar {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  margin-bottom: 25px;
}

#registro-boton-registrarse {
  margin-left: 600px;
  color: white;
  background: #5F5F5F;
}

.titulo_registro {
  padding-top: 90px;
}



.dashboard-nav {
  height: 110px;
  background-color: var(--fondo_seccion1);

}

.registro_parrafo {
  margin-left: 580px;
}




.dashboard-seccion-1{
  width: auto;
  height: 160px;
  text-align: center;
  border-bottom:var(--borde) 3px solid;
  border-top:var(--borde) 3px solid;
}


.dashboard-seccion-2{
  width: auto;
  height: 45px;
  border-bottom:var(--borde) 3px solid;
}

.seccion-1-registro {
    background-color: #F5F5F5;
    height: 140px;
}

.seccion-1-registro__linea {
  width: 270px;
  margin-top: 20px;
}

.dashboard-seccion-2__boton{
  width: 112px;
  height: 30px;
  margin-top: 10px;
  margin-left: 35px;
  color: white;
  background-color: var(--color_boton_gris);
  border: 0px;
}



.dashboard-seccion-3{
  width: auto;
  height: 350px;
}


.dashboard-seccion-3__boton-eliminar{
  background-color: #F25252;
}

.dashboard-seccion-3__boton-editar{
  background-color: #6DA644;
}

.dashboard-seccion-3 button{
  width: 70px;
  height: 26px;
  display: block;
  position: relative;
  left: 20px;
  margin-top: 30px;
  color: white;
  border: 0px;

}

.dashboard-descripcion{
  margin-left: 16px;
  color:  #0583F2;

}
.dashboard-seccion-3__figure{
  float: left;
  width: 330px;
  height: 300px;

}

 .imagen-dashboard{
   width: 150px;
   height: 150px;
   float: left;

 }

.cambalaches-nav{
  background-color: var(--fondo_seccion1);
  height: 100px ;
  border-bottom:var(--borde) 3px solid;
}



.cambalaches-seccion-1{
  background-color: var(--fondo_seccion2);
  text-align: center;
  height: 170px;
  border-bottom: var(--borde) 3px solid;


}

.cambalaches-seccion-2{
  width: auto;
  height: 400px;
  display: inline-block;
  background-color: var(--fondo_seccion2);

}



.cambalaches-imagen{
 width: 125px;
 height: 100px;
 float: left;
}



.cambalaches-seccion-2-descripcion{
  color: var(--color_boton_gris);
  position: relative;
  margin-top: auto;
  left: 20px;
}



.cambalaches-seccion-2-figure a{
  text-decoration: none;
}



 .cambalaches-seccion-2-figure {
   width: 270px;
   height: 100px;
   display: block;
   float: left;
   margin-left: 30px;
   margin-right: 200px;

 }





.editar-seccion-1{
  text-align: center;
  background-color: var(--fondo_seccion1);
  height: 150px;
  border-top:var(--borde) 3px solid;

}

.editar-seccion-1__linea{
  height: 0px;
  width: 200px;

}
.editar-seccion-2{
   text-align: center;
   height: 450px;
   background-color: var(--fondo_seccion2);
   border-top:var(--borde) 3px solid;


}
.editar-seccion-2__input{
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: block;
}

#edicion-boton-guardar, #edicion-boton-cancelar {
  border: 0px;

}

#edicion-boton-guardar {
  background-color: var(--color_boton_gris);
  color: white;
}

[placeholder="Busco"]::placeholder {
position: relative;
bottom: 37px;
}

[placeholder="Nombre del Producto"]::placeholder {
position: relative;
}

[placeholder="Descripción"]::placeholder {
position: relative;
bottom: 37px;
}


.editar-seccion-2__linea2{
  width: 538px;
  position: relative;
  left:18px;
  top: 15px;


}
.seccion-2-editar__boton{
  width: 150px;
  height: 27px;
  margin-top: 50px;
  margin-left: 10px;
}

#editar-seccion-2-descripcion{
  width: 500px;
  height: 90px;

}
#editar-seccion-2-busco{
  width: 500px;
  height: 90px;
}
#editar-seccion-2-ruta{
  width: 500px;

}
#editar-seccion-2-producto{
  width: 200px;
  height: 20px;
  position: relative;
  right: 150px;
}

.editar-footer{
  text-align: center;
  height: 80px;
  border-top:var(--borde) 3px solid;
}

.editar-nav{
  height: 70px;
  background-color: var(--fondo_seccion2);

}

.detalles-seccion-1-contenedor__img{
  width: 50%;
  height: 100%;
  text-align: center;
  border-right:var(--borde) 3px solid;
  float: left;
  background-color: var(--fondo_seccion1)


}
.detalles-seccion-1{
  width: auto;
  height: 550px;
  border-top:var(--borde) 3px solid;

}


.detalles-seccion-1__imagen{
 margin-left: auto;
 margin-left: auto;
 margin-top: 24%;

}



.detalles-nav{
  width: auto;
  height: 70px;

}
.detalles-seccion-1-contenedor-elementos{
  width: 50%;
  height: 100%;
  position: relative;
  left: 70px;
  top: 30px;
  display: inline;
}

#ofrecido-por {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
.detalles-seccion-1-contenedor-elementos__linea1{
  width: 500px;
  margin-left: 200px;

}
.detalles-seccion-1-contenedor-elementos__boton{
  border: 0px;
  width: 130px;
  height: 35px;
  margin-top: 50px;
  color: white;
  background-color: var(--color_boton_gris);

}


.detalles-seccion-1-contenedor-elementos__linea2{
  width: 100px;
  margin-left: 200px;
  margin-top: 100px;
}

.detalles-seccion-1-contenedor-elementos__titulo{
  text-align: left;
}



ul a:hover{
  color: #0583F2;
}




.footer {
  text-align: center;
  background-color: var(--fondo_seccion2);
  height: 100px;
  border-top:var(--borde) 3px solid;

}



ul p{
  display: inline;

}


.boton{
  width: 150px;
  height: 27px;
  margin-top: 50px;
  margin-left: 10px;

}

.nav-menu-imagen {
  position: absolute;
  left: 30px;
  margin: auto;
  width: 45px;
  height: 25px;

}

.boton-menu-horizontal{
  border: 0px solid;
  width: 100px;
  height: 27px;
  color: white;
  background-color:var(--color_boton_gris);

}
.imagen-boton{
  margin-right: 5px;
}
.menu-inferior{
  padding-top: 5px;
}

.menu-inferior li a{
  padding: .3em;
  text-decoration: none;

}

.lupa {
  width:15px;
  margin-left: -310px;
  margin-right: 300px;
}

.menu-inferior li{
  display:inline;
}

.menu-superior li a{
  padding: .3em;
  text-decoration: none;

  }
.menu-superior{
    float: right;
    list-style: none;
    margin-right: 43px;
    padding: 0;
}
.menu-superior li{
  display:inline;

}

.copyright-container {
  display: grid;
  width: 115px;
  height: 50px;
 }

 .copyright {
   color: white;
   background: gray;
   font-weight: bold;
   font-family: monospace;
   font-size: 12px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   padding-top: 2px;
   padding-left: 1px;
   padding-right: 1px;
   margin-left: 720px;
 }

 .copyright-texto-container {
   width: 100px;
   height: 20px;
 }

 .copyright-texto {
   text-align: center;
   margin: auto;
   margin-top: -33px;
   margin-left: 730px;
 }

.titulo{
  padding-top: 50px;
}
